@use "sass:color";
@import "../variables.scss";

@mixin button-up($color-one, $color-two){
  @media all and (min-width: 800px){
    .button-up {
      padding: $margin / 2;
    }
  }
  @media all and (max-width: 799px){
    .button-up {
      padding: $margin-mobile/2 $margin-mobile;
    }
  }
  .button-up {
    border: solid 1px $color-one;
    border-radius: 1rem;
    color: $color-one;
    background-color: $contrast-color;
      &:hover {
        border: solid 1px $color-two;
        color: $color-two;
        background-color: $color-one;
      }
      &:active {
        border: solid 1px $color-two;
        color: $color-two;
        background-color: darken($color-one, 10%);
      }
      &:disabled {
        border: solid 1px grey;
        color: white;
        background-color: grey;
      }
  }
  .active {
    border: solid 1px $color-two;
    color: $color-two;
    background-color: darken($color-one, 10%);
  }
}